{% include "header.html" %}


<div class="container">

<br>

<h3>Category: {{ cats }} </h3>
<hr>
{% for company in CategoryCompanys %}  	
 
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1">
        <b>Company:</b>
      </div>
      <div class="col-md-2">
        <a href="{% url 'company-detail' company.pk %}">{{ company.name }}</a>
      </div>
      <div class="col-md-1">
        <b>Category:</b>
      </div>
      <div class="col-md-2">
        {{ company.category }}
      </div>
      <div class="col-md-1">
        <b>Breve:</b>
      </div>
       <div class="col-md-2">
          {{ company.breve|slice:"50"|safe }}
      </div>
      <div class="col-md-1">
        <b>Location:</b>
      </div>
      <div class="col-md-2">
          {{ company.location }}
      </div>
    </div>
  </div>
</div>

<hr>
  {% endfor %}  

</div>

{% include "footer.html" %}